.App-logo {
  height: 60vh;
  max-width: 100vw;
  animation: logo-spin 4s infinite;
}
.landing-screen h2 {
  font-size: calc(70px + (60 - 14) * ((100vw - 200px) / (1600 - 300)));
}

.logo-name {
  position: absolute;
  bottom: 0;
  color: var(--font-color);
  -webkit-text-stroke-width: 5px;
  text-shadow: 0px 9px 15px -9px rgba(212, 211, 232, 1);
}

.logo-image {
  position: absolute;
  right: 0;
  top: 10%;
  min-height: 400;
  min-width: 600;
  height: 60vh;
  width: 50vw;
  opacity: 1;
  animation: logo-spin 3s infinite;
}

@keyframes logo-spin {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.itsme {
  position: absolute;
  right: 0;
  padding: 10px 20px;
  border-bottom: solid 3px;
  font-weight: 800;
}

.ex-large {
  font-size: calc(26px + (60 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.ex-heading {
  font-size: calc(20px + (50 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.ex-medium {
  font-size: calc(14px + (30 - 14) * ((100vw - 300px) / (1600 - 300)));
}

@keyframes logo-spin {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media only screen and (max-width: 600px) {
  .landing-screen {
    font-size: calc(20px + (60 - 14) * ((100vw - 300px) / (1600 - 300)));
  }
  .logo-image {
    position: absolute;
    left: 10%;
    height: 60vh;
    width: 80vw;
    opacity: 1;
  }
  .landing-screen h2 {
    font-size: calc(32px + (60 - 14) * ((100vw - 300px) / (1600 - 300)));
    color: var(--font-color);
    -webkit-text-stroke-width: 1px;
    text-shadow: 0px 9px 15px -9px rgba(212, 211, 232, 1);
  }
}
