@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-theme-background text-theme-text;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
