.skills {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5%;
}

.section-name {
  min-width: 200;
  margin-bottom: 10px;
}

.skills .main-container {
  opacity: 0.2;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "Html5 CSS JavaScript"
    "typescript react webpack"
    "react-native mobx-state-tree .";
  column-gap: 5vh;
  row-gap: 10vh;
  border: "solid 1px black";
  margin-top: 10px;
  visibility: hidden;
}

.Html5 {
  grid-area: Html5;
  transform: rotate(-20deg);
}
.CSS {
  grid-area: CSS;
  transform: rotate(20deg);
}
.JavaScript {
  grid-area: JavaScript;
  transform: rotate(-30deg);
}
.typescript {
  grid-area: typescript;
  transform: rotate(10deg);
}
.react {
  grid-area: react;
  transform: rotate(30deg);
}
.webpack {
  grid-area: webpack;
  transform: rotate(-30deg);
}
.react-native {
  grid-area: react-native;
  grid-column-start: 1;
  grid-column-end: 2;
  transform: rotate(10deg);
}
.mobx-state-tree {
  grid-area: mobx-state-tree;
  grid-column-start: 3;
  transform: rotate(-30deg);
}

.logo-container {
  font-size: 10vh;
  opacity: 0.5;
}

.show-skills {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .skills {
    padding: 0px;
  }
  .skills .main-container {
    opacity: 0.4;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "Html5 CSS"
      "JavaScript typescript"
      "react webpack"
      "react-native ."
      ". mobx-state-tree";
    column-gap: 2vh;
    row-gap: 2vh;
    border: "solid 1px black";
    margin-top: 150px;
  }
  .logo-container {
    font-size: 5vh;
    opacity: 0.5;
  }
  .react-native {
    grid-area: react-native;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .mobx-state-tree {
    grid-area: mobx-state-tree;
    grid-column-start: 1;
  }
}
