.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.App .main-container {
  margin-left: 100px;
  flex: 1;
}

:root {
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
  --bg-skill: #e1e1ff;
}

[data-theme="dark"] {
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
  --bg-skill: #e1e1ff;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  flex: 1;
  border-right: solid 1px;
  height: 100vh;
  padding: 10px;
  justify-content: flex-end;
}

nav li {
  /* border: solid 1px; */
  justify-content: center;
  list-style: none;
  padding: 10px;
  text-decoration: none;
  color: var(--font-color);
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 40px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
  outline: none;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 13px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 13px;
}

input:checked + .slider {
  background-color: #818cab;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}

.menu-button {
  display: none;
}

@media only screen and (max-width: 600px) {
  .App .main-container {
    margin-left: 0;
    padding: 10px;
    position: relative;
  }
  header {
    display: flex;
    flex: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100vw;
    bottom: 0px;
    height: 100vh;
    /* margin-bottom: -100vh; */
    max-height: 50%;
    border: solid 0px;
    justify-content: center;
    transition: all 1s ease-in-out;
    z-index: 10;
    background-color: var(--bg-color);
    -webkit-box-shadow: -1px -7px 43px 6px rgba(206, 209, 219, 1);
    -moz-box-shadow: -1px -7px 43px 6px rgba(206, 209, 219, 1);
    box-shadow: -1px -7px 43px 6px rgba(206, 209, 219, 1);
  }
  .App .menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    bottom: 16px;
    right: 16px;
    outline: none;
    border: none;
    background-color: var(--font-color);
    color: var(--bg-color);
    z-index: 10;
  }
  .show-menu {
    top: 80%;
  }
}
